@{
  Layout = "~/Views/Shared/_AdditionalLayout.cshtml";
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Integrated Software Solutions (ISS) is a company dedicated to producing both package and bespoke software that is of the very highest quality.</p>

<p>
  ISS has a great deal of experience in application design, development and testing. All of our developers are degree educated and in addition to excellent programming skills are all trained in the specification and design of high quality software.
</p>

<p>
  We aim to offer a service which is second to none. While many software development companies may consult you only during the design stage and then on delivery of the software, we aim to consult you throughout the development cycle, allowing us to incorporate any unforseen changes in the requirements at the earliest possible stage and making sure that the piece of software we deliver to you is the one you want.
</p>
