@{
  Layout = "~/Views/Shared/_AdditionalLayout.cshtml";
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@IntegratedSoftwareSolutions.co.uk</a><br />
  <strong>Sales:</strong> <a href="mailto:Marketing@example.com">Sales@IntegratedSoftwareSolutions.co.uk</a>
</address>