body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron-title { font-family: 'Tangerine', serif;
                   font-size:5em;
  text-shadow: 4px 4px 4px #aaa;
  color: #fa6bfa
}

.navbar-inverse .navbar-brand{font-family: 'Tangerine', serif;
              color:white;
              font-size:3em;
}
.navbar-inverse .navbar-nav li a {
  color:white;
}
.navText {font-family: 'Tangerine', serif;
              color:white;
              font-size:2.5em;
}

.navbar{
    background-color: #f8a3f8;
}

footer{text-align:center;}

.centeredBox {
    text-align:center;
}
@media (max-width: 767px) {
    .jumbotron {
        visibility:visible;
        background-image: url('/Images/JumbotronImage-small.jpg');
        height: 300px;
    }
}
@media (min-width: 768px) {
    .jumbotron {
        visibility:visible;
        background-image: url('/Images/JumbotronImage2.jpg');
        height: 400px;
    }
}
.cakeImage {
max-width:100%;
}

.ImageGallery {
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
.GalleryImageItem {
          list-style:none;
          margin-bottom:25px;
      }
img.GalleryImage {
          cursor: pointer;
          margin-left:auto;
          margin-right:auto;
      }

img.CakeImage {
max-width:100%;
          margin-left:auto;
          margin-right:auto;
}

.CakeImageContainer{
text-align:center;
}

.SearchHeader{
    background-color: #f8a3f8;
    padding: 1px 5px 3px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
    margin-bottom:5px;
}

.SearchBody{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding:5px 5px 5px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:default;
}

.SearchHeaderText{
font-family: 'Tangerine', serif;
              color:white;
              font-size:2em;
}

@media (max-width: 767px) {
    .SearchBody {
        display:none;
    }
}
@media (min-width: 768px) {
    .SearchBody {
        display:block;
    }
}

.panel-profile .panel-title{margin-bottom:5px;font-weight:bold;}
.panel-profile .panel-heading{height:150px;background-size:cover}
.panel-profile-img{max-width:100px;margin-top:-70px;margin-bottom:5px;border:3px solid #fff;border-radius:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1)}
.panel-menu{list-style:none;padding:0}
.panel-menu-item{display:inline-block;padding:0 10px;border-right:1px solid var(--colorGrayLighter)}
.panel-menu-item:last-child{border-right:0}