
.tabHeader {
    color: white;
    padding: 0;
    text-align: left;
}

.tabHeaderBtn {
    text-align: center;
    background-color: #fa6bfa;
    min-width: 75px;
    padding: 3px 10px 3px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabHeaderBtn:hover {
    background-color: #f8a3f8;
    color: black;
    cursor: pointer;
}

.tabHeader ul {
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
}

.tabHeader ul li {
    list-style: none !important;
    display: inline-block;
}

.activeTab {
    background-color: #f8a3f8;
    color: black;
}

.tabBody { 
    background: url('/images/tabBack.png') repeat-x #FFFFFF !important;
    padding: 10px;
    border-top-right-radius: 10px;
}
