body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron-title { font-family: 'Tangerine', serif;
                   font-size:5em;
  text-shadow: 4px 4px 4px #aaa;
  color: #fa6bfa
}

.navbar-inverse .navbar-brand{font-family: 'Tangerine', serif;
              color:white;
              font-size:3em;
}

.navText {font-family: 'Tangerine', serif;
              color:white;
              font-size:2.5em;
}

.navbar{
    background-color: #f8a3f8;
}

footer{text-align:center;}

.centeredBox {
    text-align:center;
}
@media (max-width: 767px) {
    .jumbotron {
        visibility:visible;
        background-image: url('/Images/JumbotronImage-small.jpg');
        height: 300px;
    }
}
@media (min-width: 768px) {
    .jumbotron {
        visibility:visible;
        background-image: url('/Images/JumbotronImage2.jpg');
        height: 400px;
    }
}
.cakeImage {
max-width:100%;
}