@using IcedMemories.Helpers
@model IcedMemories.Models.SearchCategorySelection
  <li>
@using (Html.BeginCollectionItem("Categories"))
{
    @Html.HiddenFor(model => model.Id)@Html.DisplayFor(model => model.Name)
    <ul>
      @foreach (var modelItem in Model.Options)
      {
        Html.RenderPartial("CakeDetailsCategoryOptionPartial", modelItem);
      }
    </ul>
}
  </li>