@using IcedMemories.Helpers
@model IcedMemories.Models.SearchCategoryOptionSelection

<li>
  @using (Html.BeginCollectionItem(ViewData.TemplateInfo.HtmlFieldPrefix + ".Options"))
  {
    @Html.HiddenFor(model => model.Id)@Html.HiddenFor(model => model.SelectionId)@Html.CheckBoxFor(model => model.Selected)@Html.HiddenFor(model => model.Name)@Html.DisplayFor(model => model.Name)
  }
</li>

