@using IcedMemories.Helpers
@model IcedMemories.Models.SearchCategorySelection
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  @using (Html.BeginCollectionItem("SearchCategories"))
  {
    @Html.HiddenFor(model => model.Id)@Html.HiddenFor(model => model.Name)@Html.DisplayFor(model => model.Name)
    <ul>
      @foreach (var modelItem in Model.Options)
      {
        Html.RenderPartial("_GallerySearchCategoryOptionPartial", modelItem);
      }
    </ul>
  }
</div>
