@{
    ViewBag.Title = "About";
}
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>

    <a href="#BespokeDesign"><h1>Bespoke Design</h1></a>
    <p>Use this area to provide additional information.</p>

    <a href="#MadeToOrder"><h1>Made to Order</h1></a>
    <p>Use this area to provide additional information.</p>

    <a href="#SweetTouch"><h1>The Sweet Touch</h1></a>
    <p>Use this area to provide additional information.</p>
</div>