@using IcedMemories.Helpers
@model IcedMemories.Models.Gallery
@{
  ViewBag.Title = "Gallery";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

  var waitForFinalEvent = (function () {
    var timers = {};
    return function (callback, ms, uniqueId) {
      if (!uniqueId) {
        uniqueId = "Don't call this twice without a uniqueId";
      }
      if (timers[uniqueId]) {
        clearTimeout(timers[uniqueId]);
      }
      timers[uniqueId] = setTimeout(callback, ms);
    };
  })();

  $(window).load(function () {
    SizeImages();
  });

  $(window).resize(function () {
    $('.GalleryImageItem').each(function () {
      $(this).height("");
    });
    $('.GalleryImage').each(function () {
      $(this).height("");
    });
    waitForFinalEvent(function () {
      SizeImages();
      //...
    }, 500, "Image resize");
  });

  function SizeImages() {
    var height = 0;
    var counter = 0
    $('.img-responsive').each(function () {
      height = height + $(this).height();
      counter += 1;
    });
    $('.GalleryImageItem').each(function () {
      $(this).height(height / counter);
    });
    $('.GalleryImage').each(function () {
      if ($(this).height() > (height / counter)) {
        $(this).height((height / counter));
      }
    });
  }


  $(function () {
    $('.GalleryImage').on('click', function () {
      var src = $(this).attr('src');
      var img = '<img src="' + src + '" class="img-responsive" style="margin-left:auto; margin-right:auto;"/>';
      $('#myModal').modal();
      $('#myModal').on('shown.bs.modal', function () {
        $('#myModal .modal-body').html(img);
      });
      $('#myModal').on('hidden.bs.modal', function () {
        $('#myModal .modal-body').html('');
      });
    });

    $('.SearchHeader').on('click', function () {
      $(".SearchBody").toggle();
    });

    $(".SearchBody").click(function (e) {
      e.stopPropagation();
    });
  });
</script>
<div class="container body-content">
  <h2>Gallery</h2>
  <div class="row SearchHeader">
    <h4 class="SearchHeaderText">Search</h4>
    <div class="row SearchBody">
        @using (Html.BeginForm("Gallery", "Home", FormMethod.Post, new { enctype = "multipart/form-data", name = "Cakes", id = "Cakes" }))
        {
          @Html.AntiForgeryToken()
          <div class="row">
            @foreach (var item in Model.SearchCategories)
            {
              Html.RenderPartial("_GallerySearchCategoryPartial", item);
            }
          </div>
          <input type="submit" value="Search" class="btn btn-default" />
        }
    </div>
  </div>
  <div class="row ImageGallery">
    @foreach (var item in Model.Cakes)
    {
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 GalleryImageItem">
        @Html.Image(item.ImageLink, new { @alt = item.Title, @class = "img-responsive GalleryImage" })
      </div>
    }
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="text-align:center;">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
