@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="jumbotron-title">Iced Memories</p>
</div>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <p>
                Iced Memories specialises in bespoke cakes for all occasions.
            </p>
            <p>
                From childrens birthday cakes to professional wedding and anniversary cakes, we can produce a cake tailored to you and designed specifically to make your occasion even more special.
            </p>
            <p>
                Iced Memories can produce any type of cake including light and fluffy sponge, rich chocolate and dense fruit cake. Whatever your taste, we can satisfy your hunger.
            </p>
            <p>
              To view a selection of our previous cakes, @Html.ActionLink("click here","Gallery","Home") to visit our gallery.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="centeredBox col-md-4">
            <h2>Bespoke Design</h2>
            <p>Each cake is designed from scratch to your specific requirements.</p>
            <p>@Html.ActionLink("Learn More","About","Home", "","", "BespokeDesign", new { },new { @class = "btn btn-default" })</p>
        </div>
        <div class="centeredBox col-md-4">
            <h2>Made To Order</h2>
            <p>Each cake is made as and when it is needed, meaning that they are always fresh and beautifully moist.</p>
            <p>@Html.ActionLink("Learn More", "About", "Home", "", "", "MadeToOrder", new { }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="centeredBox col-md-4">
            <h2>The Sweet Touch</h2>
            <p>Bespoke decorations and sugarwork are hand crafted and lovingly decorated.</p>
            <p>@Html.ActionLink("Learn More", "About", "Home", "", "", "SweetTouch", new { }, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>